
<div class="container">
  <table class="table table-hover table-responsive{-sm|-md}">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Curso</th>
        <th scope="col">Asistencia</th>
        <th scope="col">Fecha</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody >
      <ng-container *ngFor="let alumno of alumnos">
        <tr *ngIf="alumno.estado !='inactivo'" [ngClass]="alumno.asistencia == 'ausente' ? 'ausente':'presente'" >
          <td>{{alumno.nombre }}</td>
          <td>{{alumno.apellido}}</td>
          <td>{{alumno.curso}}</td>
          <td>{{alumno.asistencia |titlecase}}</td>
          <td>{{alumno.fecha}}</td>
          <td [ngSwitch]="alumno.asistencia">
            <span class="icon-asistencia" *ngSwitchCase="'presente'" >😀​</span>
            <span class="icon-asistencia" *ngSwitchCase="'ausente'">🙁​​</span>
            <span class="icon-asistencia" *ngSwitchDefault>😐​</span>
          </td>
        </tr>
      </ng-container>

    </tbody>
  </table>
</div>


